# Database connection string (e.g., Supabase / PostgreSQL / MySQL / SQLite)
DATABASE_URL="postgresql://user:password@host:5432/postgres"

# Port (Optional)
PORT=3001

# JWT Secret Key (Optional)
SECRET_KEY="mysecretkey"
